Right-angled trainlge pattten(Left_aligned traingle)

```text
* 
* * 
* * *
* * * *
```

In [76]:
n = int(input("enter n:"))
print("No. of lines:",n)

for i in range(1,n+1):
    for j in range(1,i+1):
        print("* ",end = '')
    print()

No. of lines: 4
*
* *
* * *
* * * *

```text
1
1 2
1 2 3
1 2 3 4

In [88]:
n = int(input("enter n:"))
print("No. of lines:",n)

for i in range(1,n+1):
    temp = 1
    for j in range(1,i+1):
        print(temp , end=' ')
        temp+=1
    print()

No. of lines: 4
1
1 2
1 2 3
1 2 3 4

```text
1
1 2
1 2 3
1 2 3 4
```

In [78]:
n = int(input("enter n:"))
print("No. of lines:",n)

for i in range(1,n+1):
    temp = 1
    for j in range(1,i+1):
        print(temp , end=' ')
        temp+=1
    print()

No. of lines: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [85]:
n = int(input("enter n:")) #anotehr way to print the above traingle_pattern
print("No. of lines:",n)

for i in range(1,n+1):
    temp = 1
    for j in range(1,n+1):
        if j<=i:
            print(temp , end=' ')
            temp+=1
        else:
            print(end='')
    print()

No. of lines: 4
1
1 2
1 2 3
1 2 3 4

```text
A
B B
C C C
D D D D
```

In [2]:
for i in range(1,5):
    for j in range(i):
        print(" ",chr(65 +i-1), end='')
    print()

  A
  B  B
  C  C  C
  D  D  D  D

```text
****
***
**
*

In [ ]:
for i in range(4,0,-1): #with reversing the loop
    for j in range(i):
        print("* ", end='')
    print()

* * * *
* * *
* *
*

In [90]:
n = int(input("enter the no. of lines:"))
print("No. of lines:",n)

for i in range(1,n+1):
    temp =1
    for j in range(1,n+1):
        if j<=n:
            print(temp,end=' ')
            temp+=1
        else:
            print(" ",end='')
        j-=1
    print()

No. of lines: 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [35]:
n = 4           #wihtout reversing the loop
for i in range(n):
    for j in range(n -i):
        print("* ",end='')
    print()

* * * *
* * *
* *
*

``` text
1 2 3 4
1 2 3
1 2
1

In [39]:
n = 4
for i in range(n):
    for j in range(n-i):
        print(j+1," ",end='')
    print()

1  2  3  4
1  2  3
1  2
1

```text
1 1 1 1
2 2 2
3 3
4

In [41]:
n =4
for i in range(n):
    for j in range(n-i):
        print(i+1," ",end='')
    print()

1  1  1  1
2  2  2
3  3
4

```text
#
# #
# # #
# #
#

In [67]:
n =4
for i in range(1,n-1):
    for j in range((i)):
        print("* ", end='')
    print()
for i in range(n):
    for j in range(n-i-1):
        print("* ",end='')
    print()

*
* *
* * *
* *
*

```text
      *
    * *
  * * *
* * * *

In [65]:
n = 4
for i in range(1 ,n+1):
    #for spaces
    for j in range(n-i):
        print(" ",end='')
    
    #for stars
    for k in range(i):
        print('*', end='')
    print()

   *
  **
 ***
****

In [66]:
n = int(input("enter n:"))
print("No. of lines:",n)
num = 1

for i in range(1,n+1):
    # num = 8
    for j in range(1,n+1):
        print(num,"", end=' ')
        num+=2
    print()

No. of lines: 4
1  3  5  7
9  11  13  15
17  19  21  23
25  27  29  31

In [35]:
n = int(input("enter n:"))
print("No. of lines:",n)

for i in range(1,n+1):
    for j in range(n,0,-1):
        print(j," ", end='')
    print()

No. of lines: 4
4  3  2  1
4  3  2  1
4  3  2  1
4  3  2  1