Loops

For loop

In [ ]:
#syntax ->
for _ in range(1,6):  # only underscore(_)  special character is allowed  and name or characters 
    print(_)            # where the underscore is placed it is place holder without it the sytax is incomplete

for i in range(1,5+1):
    print(i)

for i in range(6):   # in this it is started from 0
    print(i)

1
2
3
4
5
1
2
3
4
5
0
1
2
3
4
5

In [10]:
# all the odd numbers from 1-10

for i in range(1,11,2):
    print(i)

for i in range (1,11):
    if i%2!=0:
        print(i)

1
3
5
7
9
1
3
5
7
9

In [ ]:
# all the even numbers from 1-10
for i in range(2,11,2):
    print(i)

for i in range(1,11):  
    if i%2==0:
        print(i)

2
4
6
8
10
2
4
6
8
10

In [13]:
# print numbers from 2-200 which are divible by 3 or 5 
for i in range (2,201): 
    if i%3==0 or i%5==0:
        print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100
102
105
108
110
111
114
115
117
120
123
125
126
129
130
132
135
138
140
141
144
145
147
150
153
155
156
159
160
162
165
168
170
171
174
175
177
180
183
185
186
189
190
192
195
198
200

In [ ]:
# for reversing the order of the numbers:
for i in range (5 ,0,-1):
    print(i)

5
4
3
2
1

In [21]:
# print the numbers in reverse order whicch are divisible by 7 and 3

for i in range(200,0,-1):
    if i%3==0 and i%7==0:
        print(i)

189
168
147
126
105
84
63
42
21

In [25]:
# sum of 1-10 numbers
sum = 0
for i in range(1,11):
    sum = sum +i
print(sum)

55

In [1]:
# product of numbers from 5-20
prod = 1
for i in range(5,21):
    prod = prod*i
    # print(prod)
print(prod)


prod = 1
for i in range(20,4,-1):
    prod = prod*i
    # print(prod)
print(prod)

101370917007360000
101370917007360000

In [2]:
# product of numbers from 5-25
prod = 1
for i in range(5,26):
    if i%2!=0:
        prod = prod*i
        print(prod)
print(prod)

5
35
315
3465
45045
675675
11486475
218243025
4583103525
105411381075
2635284526875
2635284526875

In [ ]:
# sum of numbers from 50-75
sum = 0
for i in range(50,76):
    if i%2==0:
        sum = sum + i
        print(sum)
print(sum)

50
102
156
212
270
330
392
456
522
590
660
732
806
806

In [5]:
# for even and odd numbers from 1-200
for i in range(2,101):
    if i%2==0:
        print("even number: ",i)
    else:
        print("odd number: ",i)

even number:  2
odd number:  3
even number:  4
odd number:  5
even number:  6
odd number:  7
even number:  8
odd number:  9
even number:  10
odd number:  11
even number:  12
odd number:  13
even number:  14
odd number:  15
even number:  16
odd number:  17
even number:  18
odd number:  19
even number:  20
odd number:  21
even number:  22
odd number:  23
even number:  24
odd number:  25
even number:  26
odd number:  27
even number:  28
odd number:  29
even number:  30
odd number:  31
even number:  32
odd number:  33
even number:  34
odd number:  35
even number:  36
odd number:  37
even number:  38
odd number:  39
even number:  40
odd number:  41
even number:  42
odd number:  43
even number:  44
odd number:  45
even number:  46
odd number:  47
even number:  48
odd number:  49
even number:  50
odd number:  51
even number:  52
odd number:  53
even number:  54
odd number:  55
even number:  56
odd number:  57
even number:  58
odd number:  59
even number:  60
odd number:  61
even number:  62
odd number:  63
even number:  64
odd number:  65
even number:  66
odd number:  67
even number:  68
odd number:  69
even number:  70
odd number:  71
even number:  72
odd number:  73
even number:  74
odd number:  75
even number:  76
odd number:  77
even number:  78
odd number:  79
even number:  80
odd number:  81
even number:  82
odd number:  83
even number:  84
odd number:  85
even number:  86
odd number:  87
even number:  88
odd number:  89
even number:  90
odd number:  91
even number:  92
odd number:  93
even number:  94
odd number:  95
even number:  96
odd number:  97
even number:  98
odd number:  99
even number:  100

In [1]:
n = int(input("enter n:"))
print(n)

if 1<=n<=100:
    if n%2==0:
        if 2<=n<=5:
            print("Not Weird")
        elif 6<=n<=20:
            print("Weird")
        else:
            print("Not Weird")
    else:
        print("Weird")

5
Weird