Basic Iteration and Output

1. Print numbers from 1 to 10 using a for loop.

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Print all even numbers between 1 to 50.

In [3]:
for i in range(1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

3. Print all odd numbers between 1 to 50.

In [4]:
for i in range(1,51):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

4. Print numbers from 10 to 1 (reverse order).

In [5]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

Mathematical Operations

1. Print the multiplication table of 5 (from 1 to 10).

In [35]:
for i in range(1,11):
    prod = 5
    prod = prod*i
    print(prod)

5
10
15
20
25
30
35
40
45
50

2. Take a number input and print its multiplication table up to 10.

In [24]:
prod = int(input("enter number:"))

for i in range(1,11):
    
    table = prod*i
    if prod <=10:
        print(table)
    else:
        print("invalid number")

10
20
30
40
50
60
70
80
90
100

3. Print the sum of first 10 natural numbers.

In [26]:
sum = 0

for i in range(1,11):
    sum = sum+i
print(sum)

55

4. Take a number input $n$ and print the sum of numbers from 1 to $n$.

In [30]:
n = int(input("enter n:"))
print("n:",n)
sum = 0

for i in range(1,n+1):
    sum = sum +i
    print(sum)
print("sum:",sum)

n: 4
1
3
6
10
sum: 10

5. Print squares of numbers from 1 to 10.

In [31]:
# n = int(input("enter num:"))
# print("number:",n)

square = 1
for i in range(1,11):
    square = i*i
    print(square)

1
4
9
16
25
36
49
64
81
100

6. Print cubes of numbers from 1 to 10.

In [32]:
cube = 1
for i in range(1,11):
    cube = i*i*i
    print(cube)

1
8
27
64
125
216
343
512
729
1000

7. Print the factorial of a given number using a for loop.

In [12]:
num = int(input("enter num:"))
print("number:",num)
factorial = 1

for i in range(num,0,-1):
    factorial = factorial*i
print("factorial:",factorial)

number: 10
factorial: 3628800

8. Take 5 numbers from user and print their total sum.

In [ ]:
# num1 = int(input("enter num1:"))
# print(num1)
# num2 = int(input("enter num2:"))
# print(num2)
# num3 = int(input("enter num3:"))
# print(num3)
# num4 = int(input("enter num4:"))
# print(num4)
# num5 = int(input("enter num5:"))
# print(num5)
sum = 0

for i in range (5):
    num = int(input("enter a number:"))
    print(num)
    sum = sum + num
print("sum:",sum)

1
2
3
4
5
sum: 15

String and Digit Manipulation

1. Print all characters of a string one by one in each line.

In [14]:
s = "hello everyone"

for i in s:
    print(i)

h
e
l
l
o

e
v
e
r
y
o
n
e

2. Count the number of vowels in a given string using a loop.

In [ ]:
s = "hello everyone"
count = 0

for v in s:
    if v =='a' or v =='e' or v =='i' or v =='u' or v =='o':
        count +=1
print(count)

6

3. Take a number input and count how many digits it has.

In [1]:
num = input("enter the num:")
print(num)
count = 0

for i in num:
    count +=1
print("number of digits:",count)

123456
number of digits: 6