In [1]:
# 1. Write a program to print numbers from 1 to 10 using a for loop.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
# 2. Print numbers from 0 to 5 using range().
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [3]:
# 3. Print numbers from 5 to 15.
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

In [4]:
# 4. Print numbers from 10 to 1 using a for loop.
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# 5. Print all even numbers between 1 and 20.
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [6]:
# 6. Print all odd numbers between 1 and 20.
for i in range(1,21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [7]:
# 7. Print numbers from 1 to 50, skipping multiples of 5.
for i in range(1,51):
    if i%5!=0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [8]:
# 8. Print numbers from 1 to 100 with a step of 10.
for i in range(1,101,10):
    print(i)

1
11
21
31
41
51
61
71
81
91

In [ ]:
# 9. Print the square of numbers from 1 to 10.
for i in range(1,11):
    i=i*i
    print(i)

1
4
9
16
25
36
49
64
81
100

In [10]:
# 10. Print the cube of numbers from 1 to 5
for i in range(1,6):
    i=i*i*i
    print(i)

1
8
27
64
125

In [11]:
# 11. Find the sum of numbers from 1 to 10 using a for loop.
sum = 0
for i in range(1,11):
    sum = sum +i
print(sum)

55

In [15]:
# 12. Find the sum of even numbers from 1 to 20.
sum = 0
for i in range(1,21):
    if i%2==0:
        sum = sum + i
print(sum)

110

In [16]:
# 13. Print the multiplication table of 5.
m = 1
 
for i in range(1,11):
    m = 5*i
    print(m)

5
10
15
20
25
30
35
40
45
50

In [57]:
# 14. Print multiplication tables from 1 to 3.
n = int(input("enter num:"))
t= 1
for i in range(1,11):
    t = n*i
    print(t)

3
6
9
12
15
18
21
24
27
30

In [29]:
# 15. Count how many numbers are there between 1 and 50.
count = 0
for i in range(1,51):
    count+=1
print(count)

50

In [30]:
# 16. Count how many even numbers are there between 1 and 100.
count = 0
for i in range(1,101):
    if i%2==0:
        count+=1
print(count)

50

In [ ]:
# 17. Print numbers from 1 to 30, but stop printing when the number becomes 20.
for i in range(1,30):
    print(i)
    if i==20:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [41]:
# 18. Print numbers from 1 to 20, but do not print 10.

for i in range(1,21):
    if i==10:
        continue 
    print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20

In [42]:
# 19. Print numbers from 1 to 5, each on a new line.
for i in range(1,6):
    print(i)
    print()

1

2

3

4

5

In [45]:
# 20.Print numbers from 1 to 5 in a single line separated by space.
for i in range(1,6):
    print(i,end=' ')

1 2 3 4 5

In [46]:
# 21. Print numbers from 5 to 1 in reverse order.
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [51]:
# 22.Print numbers from 1 to 5, along with their squares.
for i in range(1,6):
    print(f'{i} = {i*i}')

1 = 1
2 = 4
3 = 9
4 = 16
5 = 25

In [4]:
j =1
for i in range(1,101):
  j = i*i
  if j%10==0:
    continue
  print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
61
62
63
64
65
66
67
68
69
71
72
73
74
75
76
77
78
79
81
82
83
84
85
86
87
88
89
91
92
93
94
95
96
97
98
99

In [ ]:
n = int(input("enter num:"))
for i in range(n)
:
  n = int(input("enter num:"))
  if n==0:
    break