For Loops

1. Print all even numbers from 1 to 50 using a for loop.

In [1]:
for i in range(1,51):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

2. Print numbers from 1 to 100 but stop the loop if the number is 37. (Use break)

In [2]:
for i in range(1,101):
    print(i)
    if i == 37:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37

3. Print numbers 1 to 50 but skip multiples of 5. (Use continue)

In [3]:
for i in range(1,51):
    if i%5 == 0:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

4. Take a number from the user and print its multiplication table (1–10).

In [4]:
n = int(input("enter the number:"))

for i in range(1,11):
    mul = n*i
    print(f"{n} X {i} = {mul}")

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5. Count how many numbers between 1 to 100 are divisible by 7.

In [5]:
for i in range(1,101):
    if i%7 == 0:
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

6. Print only the vowels from a string given by the user.

In [6]:
n = input("enter the string:")
print(n)

for c in n:
    if c == "a" or c == "e" or c == "i" or c == "o" or c == "u":
        print("vowels are:",c)

apple
vowels are: a
vowels are: e

7. Given a string, print the first 5 characters only and stop. (Use break)

In [7]:
s = "aeroplane"

for i in s:
    print(i)
    if i == 'p':
        break

a
e
r
o
p

8. From numbers 1 to 20, skip odd numbers and print only squares of even numbers.

In [8]:
for i in range(1,21):
    if i%2==0:
        square = i*i
        print(square)

4
16
36
64
100
144
196
256
324
400

9. Take 10 numbers from the user and print the highest number.

10. Print all characters of a string except spaces. (Use continue)

In [9]:
s = "hello everyone, good night"

for i in s:
    if i == ' ':
        continue
    print(i,end='')

helloeveryone,goodnight

11. Print the sum of all numbers from 1–100 but skip numbers divisible by 3.

In [10]:
sum = 0

for i in range(1,101):
    if i%3==0:
        continue
    sum = sum+i
print(sum)

3367

12. Given a list of numbers, stop printing when the number 0 is found. (Use break)
○ Example: [3, 4, 1, 0, 7, 9] → stop at 0

In [11]:
l = [3, 4, 1, 0, 7, 9]

for i in l:
    if i == 0:
        break
    print(i)

3
4
1

13. Check if a given number is prime or not using a for loop.

In [12]:
n = int(input("enter a number:"))
print(n)
count = 0

for i in range(2,n):
    if n%i==0:
        count +=1
if count ==0:
    print("prime number:",n)
else:
    print("not a prime number")

7
prime number: 7

14. Print the factorial of a number using a for loop.
○ Example: 5 → 120

In [13]:
n = int(input("enter a number:"))
print(n)
factorial =1

for i in range(n,0,-1):
    factorial = factorial*i
print(f"Factorial of {n}:",factorial)

5
Factorial of 5: 120

15. Print the smallest number in a list.

16. Count how many vowels are in the string: "Hello Python Programmer"

In [14]:
s = "Hello Python Programmer"
count = 0

for chr in s:
    if chr =='a' or chr == 'e' or chr =='i' or chr == 'o' or chr == 'u':
        count +=1
print("number of vowels:",count)

number of vowels: 6

17. Print numbers 1–30; if a number is divisible by both 4 and 6, then stop. (Use
break)

In [15]:
for i in range(1,31):
    if i%4==0 and i%6==0:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11

18. Print only negative numbers from a given list.

In [16]:
numbers = [-10, 5, -3, 8, -1, 7]

for i in numbers:
    if i<0:
        print(i)

-10
-3
-1

19. Reverse a string using a for loop.
○ Example: "python" → "nohtyp"

20.Print the Fibonacci series up to N terms using a for loop.

In [6]:
n = int(input("enter n terms for fibnacci series:"))
print("N terms :",n)

a = 0
b = 1

for i in range(n):
   a = b 
   b= a + b
   print(a)

N terms : 5
1
2
4
8
16

In [13]:
a = 1 
b = 3

c , d = 10 ,20

a , b = b , a+b

print(b)

4

In [14]:
n = int(input("enter n terms for fibnacci series:"))
print("N terms :",n)

a = 1 
b = 3

for i in range(n):
    a , b = b , a+b
    print(a)

N terms : 4
3
4
7
11