In [20]:
n = 5

for i in range(n):
    for j in range(n-i):
        if j<n:
            print("-",end=' ')    
        else:
            print(' ',end=' ')
    for j in range(j,n):
        print('1',end=' ')
    print()

- - - - - 1
- - - - 1 1
- - - 1 1 1
- - 1 1 1 1
- 1 1 1 1 1

In [29]:
# n = int(input("enter n:"))
n = 5

for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or i==n or i==j:
            print("*",end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
*     *
* * * * *

In [30]:
n = 5

for i in range(1,n+1):
    for j in range(n,0,-1):
        if j==1 or i==n or i==j:
            print("*",end=' ')
        else:
            print(' ',end=' ')
    print()

        *
      * *
    *   *
  *     *
* * * * *

In [31]:
n = 5

for i in range(n,0,-1):
    for j in range(n,0,-1):
        if j==1 or i==n or i==j:
            print("*",end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
  *     *
    *   *
      * *
        *

In [32]:
n = 5

for i in range(n,0,-1):
    for j in range(1,n+1):
        if j==1 or i==n or i==j:
            print("*",end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*     *
*   *
* *
*

In [33]:
n = 5

for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or i==n or i==j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

1
1 2
1   3
1     4
1 2 3 4 5

In [34]:
n = 5

for i in range(1,n+1):
    for j in range(n,0,-1):
        if j==1 or i==n or i==j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

        1
      2 1
    3   1
  4     1
5 4 3 2 1

In [36]:
n = 5

for i in range(n,0,-1):
    for j in range(n,0,-1):
        if j==1 or i==n or i==j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

5 4 3 2 1
  4     1
    3   1
      2 1
        1

In [37]:
n = 5

for i in range(n,0,-1):
    for j in range(1,n+1):
        if j==1 or i==n or i==j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

1 2 3 4 5
1     4
1   3
1 2
1

In [38]:
n = 5

for i in range(1,n+1):
    for j in range(1,n+1):
        if j==1 or i==n or i==j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

1
2 2
3   3
4     4
5 5 5 5 5

In [39]:
n = 5

for i in range(1,n+1):
    for j in range(n,0,-1):
        if j==1 or i==n or i==j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

        1
      2 2
    3   3
  4     4
5 5 5 5 5

In [40]:
n = 5

for i in range(n,0,-1):
    for j in range(n,0,-1):
        if j==1 or i==n or i==j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

5 5 5 5 5
  4     4
    3   3
      2 2
        1

In [41]:
n = 5

for i in range(n,0,-1):
    for j in range(1,n+1):
        if j==1 or i==n or i==j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

5 5 5 5 5
4     4
3   3
2 2
1

In [46]:
n = 5

for i in range(n,0,-1):
    for j in range(1,n+1):
        if j==1 or i==n or i==j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    for j in range(n-1,0,-1):
        if j==1 or i==n or i==j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

1 2 3 4 5 4 3 2 1
1     4   4     1
1   3       3   1
1 2           2 1
1               1

In [56]:
n=5

for i in range(n,0,-1):
    for j in range(1,n+1):
        if j<i:
            print("-",end=' ')
        # else:
        #     print('_',end=' ')
    for j in range(i,n+1):
        print('1',end=' ')
    print()

- - - - 1
- - - 1 1
- - 1 1 1
- 1 1 1 1
1 1 1 1 1

In [73]:
n = int(input("enter n:"))

for i in range(1,n+1):
    for j in range(n,0,-1):
        if j>i:
            print(" ",end=" ")
        else:
            print("*",end=' ')
    for j in range(2,n+1):
        if j>i:
            print(" ",end=" ")
        else:
            print("*",end=' ')
    print()
for i in range(n-1,0,-1):
    for j in range(n,0,-1):
        if j>i:
            print(" ",end=" ")
        else:
            print("*",end=' ')
    for j in range(2,n+1):
        if j>i:
            print(" ",end=" ")
        else:
            print("*",end=' ')
    print()

                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
      * * * * * * * * * * * * *
        * * * * * * * * * * *
          * * * * * * * * *
            * * * * * * *
              * * * * *
                * * *
                  *

In [91]:
n = 5

for i in range(1,n+1):
    for j in range(n,0,-1):
        if j<=i:
            print(j,end=" ")
        else:
            print("-",end=" ")
    for j in range(2,n+1):
        if j<=i:
            print(j,end=" ")
        else:
            print("-",end=" ")
    print()
for i in range(n,0,-1):
    for j in range(n,0,-1):
        if j<=i:
            print(j,end=" ")
        else:
            print("-",end=" ")
    for j in range(2,n+1):
        if j<=i:
            print(j,end=" ")
        else:
            print("-",end=" ")
    print()

- - - - 1 - - - -
- - - 2 1 2 - - -
- - 3 2 1 2 3 - -
- 4 3 2 1 2 3 4 -
5 4 3 2 1 2 3 4 5
5 4 3 2 1 2 3 4 5
- 4 3 2 1 2 3 4 -
- - 3 2 1 2 3 - -
- - - 2 1 2 - - -
- - - - 1 - - - -

In [99]:
n = 5

for i in range(1,n+1):
    for j in range(n,0,-1):
        if j<=i:
            print(j,end=" ")
        else:
            print("-",end=" ")
    print()

- - - - 1
- - - 2 1
- - 3 2 1
- 4 3 2 1
5 4 3 2 1

In [8]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [12]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [16]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)
print(txt.count('a'))

We are the so-called "Vikings" from the north.
2

In [19]:
n = int(input("enter n:")) 

for i in range(n,0,-1):
    for j in range(1,n+1):
        if j<i:
            print(' ',end=' ')
    for j in range(1,n+1):
        if j==1 or j==n or i==n or i==1:
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

        * * * * *
      *       *
    *       *
  *       *
* * * * *

In [7]:
n=5 
for i in range(n,0,-1):
    for j in range(1,n+1):
        if j<i:
            print('-',end=' ')
    print()

- - - -
- - -
- -
-

In [3]:
n = 4

for i in range(1,n+1):
    for j in range(1,n+1):
        if j<i:
            print(" ",end=' ')
    for j in range(1,n+1):
        print("*",end=' ')
    print()

* * * *
  * * * *
    * * * *
      * * * *

In [7]:
n = 5

for i in range(1,n+1):
    for j in range(1,n+1):
        if i==1 or j==1 or j==n or i==n:
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [12]:
n = 5

for i in range(n,0,-1):
    for j in range(1,n+1):
        if j<i:
            print(" ",end=' ')
        else:
            print("*",end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [6]:
n = 5

for i in range(n,0,-1):
    temp = 1
    for j in range(1,n+1):
        if j<i:
            print(" ",end=' ')
        else:
            print(temp,end=' ')
            temp+=1
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [9]:
n = 5

for i in range(1,n+1):
    temp = 1
    for j in range(1,n+1):
        if j<i:
            print('-',end=' ')
        else:
            print(temp,end=' ')
            temp+=1
    print()

1 2 3 4 5
- 1 2 3 4
- - 1 2 3
- - - 1 2
- - - - 1

In [13]:
n = 5

for i in range(1,n+1):
    char = chr(65)
    for j in range(1,n+1):
        if j<i:
            print('-',end=" ")
        else:
            print(chr(65+j-i),end=' ')
    print()

A B C D E
- A B C D
- - A B C
- - - A B
- - - - A

In [16]:
n = 5

for i in range(n,0,-1):
    for j in range(1,n+1):
        if j<i:
            print(' ',end=' ')
    for j in range(1,n+1):
        print("*",end=' ')
    print()

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *

In [19]:
n = 5 

for i in range(n,0,-1):
    for j in range(1,n+1):
        if j<i:
            print(' ',end=' ')
    for j in range(1,n+1):
        print(j,end=' ')
    print()

        1 2 3 4 5
      1 2 3 4 5
    1 2 3 4 5
  1 2 3 4 5
1 2 3 4 5

In [29]:
n = 5

for i in range(n,0,-1):
    char = chr(65)
    for j in range(1,n+1):
        if j<i:
            print(" ",end=' ')
    for j in range(1,n+1):
        print(chr(65+j-1),end=' ')
    print()

        A B C D E
      A B C D E
    A B C D E
  A B C D E
A B C D E

In [52]:
n = 4

for i in range(1,n+1):
    for j in range(n,0,-1):
        if j<=i:
            print('*',end=' ')
        else:
            print(" ",end=' ')
    for j in range(2,n+1):
        if j<=i:
            print('*',end=' ')
    print()

      *
    * * *
  * * * * *
* * * * * * *

In [59]:
n = 4

for i in range(1,n+1):
    for j in range(n,0,-1):
        if j==i or i==n:
            print("*",end=' ')
        else:
            print(' ',end=' ')
    for j in range(2,n+1):
        if j==i or i==n:
            print("*",end=' ')
        else:
            print(' ',end=' ')
    print()

      *
    *   *
  *       *
* * * * * * *

In [66]:
n = 4

for i in range(1,n+1):
    for j in range(1,n+1):
        if j<i:
            print(' ',end=' ')
        else:
            print('*',end=' ')
    for j in range(n-1,0,-1):
        if j<i:
              print(' ',end=' ')
        else:
            print('*',end=' ')
    print()

* * * * * * *
  * * * * *
    * * *
      *

In [75]:
n = 4

for i in range(1,n+1):
    for j in range(1,n+1):
        if j<=i:
            print('*',end=' ')
        else:
            print('-',end=' ')
    for j in range(1,n+1):
        if j<=i:
            print('*',end=' ')
        else:
            print('-',end=' ')
    print()

* - - - * - - -
* * - - * * - -
* * * - * * * -
* * * * * * * *